
.container-fluid {
	background-image: url("../../images/bg-svg-f.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: whitesmoke;
	margin: 0px;
	padding: 0px;
}
.container {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
	width: 80%;
	margin: 0px auto;
}
.login_container {
	display: flex;
    flex-direction: column;
    /* align-items: center; */
	width: 50%;
	padding: 100px 30px;
	background-color: white;
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    /* Set the border radius */
    border-radius: 9px;
	
}
.about-container {
	width: 50%;
	padding: 20px;
}
.login-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 6px;

}

.input-container .field-icon {
	float: right;
  margin-top: -39px; /* Adjust this value to change the vertical position */
  position: relative;
  z-index: 2;
  margin-right: 10px; 
  }
  
  .showHide2 .field-icon {
	/* Adjust the styles as needed for your icon */
	color: #ccc;
  }
  .login_container a{
     text-align: center;
	 color: #FF8500;
	 font-size: 13px;
	 padding: 10px;
}
.login_container p {
 text-align: center;
 font-size: 15px;
}
.create-acc {
	 margin-bottom: 40px;

}
.login_container h3 {
	font-weight: 700;
    margin-top: 0px;
	font-size: 20px;
    line-height: 1.4em;
}

.btn_login{
    width: 200px;
  background-color: #FF8500;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  text-align: center; 
align-items: center;
  font-size: 1rem;
  padding: 10px;
}
.align-center {
	text-align: center;
	align-items: center;
	padding: 10px 0; 
}
.about-container h1{
		font-size: 45px;
		color: #4b456f;
		line-height: 52px;
		font-weight: 600;
		margin: 0;
	}
.about-container p {
        color: #656565;
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
	}
.forTitle {
	font-size: 14px;
	font-family: Lato, sans-serif;
	color: #fe8303;
}