/* CSS for the header section */
.header {
  /* background-clor: #333; */
  color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);

}

/* Flex container for inner elements */
.innerContainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}

/* Styles for the header logo */
.header-logo {
  display: flex;
  align-items: center;
}

/* Styling the logo image */
.header-logo img {
  max-height: 16px;
}

/* Styles for the navigation links container */
.myLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  /* justify-content: space-between; */
  width: 60%;
  padding: 10px 10px;
  box-sizing: border-box;
  
}
.myLinks a {
  text-decoration: none;
  color: #171f3c;
  font-size: 15px;
  padding: 10px 12px !important;
  font-weight: 500;
  line-height: 30px;
  
  }
  
  .myLinks-hov a:hover{
    color: #FF8500; /* This style was previously commented out */
  }
.myLinks div {
  margin: 0 5px;
}
.btn_header{
    width:110px ;
    height: 21px;
    background-color: #516CF0;
    color: white;
    border: none;
    border-radius:3px ;
    font-weight: 400px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 5px;
}
.btn_header:hover{
    background-color: #FF8500;
}

/* Optional: Add styling for the button and other elements as needed */


/* .innerContainer2{
    width: 400px;
    align-items: center;
} */
/* .header__container{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    opacity: initial;
    background-color: #FFFFFF;
} */

/* .ic{
    font-size: 30px;
    color: #FF8500;
    background: none;
    border: none;
    cursor: pointer;
} */
/* .ic:focus{
    outline: 0;
} */

/* .innerContainer2  >  a:hover{
    color:#FF8500 ;
} */

/* .btn_header:active{
    border:3px solid #516cf0;
} */



/* .show {
    display: none !important;
    background-color: #000000;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    padding: 10px;
  } */
  
  /* #myLinks.show a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin: 5px 0;
  } */
  



  .myLinks {
   
    
  }
  
  
  
  .myLinks a:hover {
    color: #555;
  }
  
  /* #myLinks .btn_header {
    border: none;
    background-color: #0064FF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  } */
  
  /* #myLinks .btn_header:hover {
    background-color: #003DA5;
  } */

  
  
  
  
  
  
  