.avatar {
	border-radius: 100%;
	background-color: white;
	width: 90px;
	height: 90px;
	padding-top: 0px;
}
.the_hole-question .fieldIcon {
	float: right;
  margin-top: -65px; /* Adjust this value to change the vertical position */
  position: relative;
  z-index: 2;
  margin-right: 10px;
}
.avatar-container {
	display: flex;
    align-items: center;
	/* padding-bottom: 30px;; */
}
.av-user h6 {
	margin: 0;
	text-align: center;
}
.av-user {
	/* width: 50%; */
	padding-right: 40px;
}
.que-desc {
	/* width: 50% */
	padding-left: 40px;

}
/* .fa {
	font-size: 33px;
	font-weight: bolder;
	color: #000;
	cursor: pointer;
}
.fa:hover {
	color: #da7000;
} */