

.container-fluid {
	background-image: url("../../images/bg-svg-f.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: whitesmoke;
	margin: 0px;
	padding: 0px;
}
.container {
	display: flex;
    align-items: center; /* Center align horizontally */
    justify-content: space-between;
    padding: 50px 10px;
	width: 80%;
	margin: 0px auto;
}
.name-container {
	display: flex;
	justify-content: space-around;
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px; */
}
.signupContainer {
	display: flex;
    flex-direction: column;
    /* align-items: center; */
	width: 50%;
	padding: 100px 0px 100px 30px;
	background-color: white;
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    /* Set the border radius */
    border-radius: 9px;
	
}
.about-container {
	width: 50%;
	padding: 20px;
}
.login-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 6px;

}
.form {
	padding-right: 40px
}
.name-input {
	flex: 1;
	width: 48%;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 6px;

}
.pad-left {
	margin-left: 20px;
	margin-right: -20px
}
.name-container .field-icon {
	float: right;
  margin-top: -39px; /* Adjust this value to change the vertical position */
  position: relative;
  z-index: 2;
  margin-right: 10px; 
  color: #ccc;

  }
  
  .signupContainer a{
     text-align: center;
	 color: #FF8500;
	 font-size: 13px;
	 padding: 10px;
}
.signupContainer p {
 text-align: center;
 font-size: 15px;
}
.create-acc {
	 margin-bottom: 40px;

}
.signupContainer h3 {
	font-weight: 700;
    margin-top: 0px;
	font-size: 20px;
    line-height: 1.4em;
}

.btn_how {
    width: 200px;
  background-color: #FF8500;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  text-align: center; /* Align the button's text to the left */
  font-size: 1rem;
  padding: 10px;
}
.btn_join{
    width: 96%;
  background-color: #516CF0;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  text-align: center; /* Align the button's text to the left */
  font-size: 1rem;
  padding: 10px;
  margin: 0 0 20px 0;

}
.about-container h1{
		font-size: 45px;
		color: #4b456f;
		line-height: 52px;
		font-weight: 600;
		margin: 0;
	}
.about-container p {
        color: #656565;
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
	}
.forTitle {
	font-size: 14px;
	font-family: Lato, sans-serif;
	color: #fe8303;
}












/* 

.sign_page {
	background-image: url("../../images/bg-svg-f.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: whitesmoke;
}
.signup_container {
	min-height: 65vh;
	align-items: center;
}
.p11 {
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	font-family: "Lato", sans-serif;
	color: #2d385e;
}
.texttag {
	margin-top: 15px;
}
.p22 {
	font-size: 15px;
	font-family: "Lato", sans-serif;
	text-align: center;
	color: #62626f;
}
.in11 {
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: silver 1px solid;
	padding-left: 10px;
	font-size: 17px;
}

form {
	text-align: center;
}
.a11 {
	color: #ff8500;
	padding-left: 3px;
	font-size: 15px;
}
.p33 {
	text-align: center;
	color: #2d385e;
}
.a22 {
	padding: 0 3px;
	color: #ff8500;
	text-decoration: underline;
	font-size: 100%;
}
.btnSign {
	background-color: #516cf0;
	width: 100%;
	height: 52px;
	color: #ffffff;
	border-radius: 5px;
	border: 1.5px;
	font-size: 20px;
	margin-top: 28px;
	font-family: "Lato", sans-serif;
	text-align: center;
}

.btnSign:hover {
	background-color: #ff8500 !important;
}
.btnSign:active {
	border: 3px solid #516cf0;
}
.a33 {
	color: #ff8500 !important;
}
.form_wrapper {
	border-radius: 15px;
	background: #fcfbfb;
	box-shadow: 17px 17px 34px #d0d0d0;
}
.showHide {
	display: flex;
	justify-content: flex-end;
	margin: -52px 45px 0px 455px;
	opacity: 0.65;
	cursor: pointer;
}
.p33 {
	margin-bottom: 20px;
}
.a33:hover {
	text-decoration: underline;
}
.containe {
	width: 500px;
	margin: auto;
}
.SignupNote {
	margin-left: 100px;
	width: 600px;
}
.in11i {
	width: 475px;
}
.a22 {
	margin-right: 0px;
} */